mixin dropdown(label, value, first, second, third, selector)
    .mixin__dropdown(data-type=selector)=label
        button(class="dropbtn" id="dropbtn")=value
        .dropdown-content
            .value-of-mixin(id="value-of-mixin")=0
            .first=first
                .value-selector
                    button.sym(id="minus-first") -
                    span.value-of-sym(id="numberPlace-first") 0
                    button.sym(id="plus-first") +
            .second=second
                .value-selector
                    button.sym(id="minus-second") -
                    span.value-of-sym(id="numberPlace-second") 0
                    button.sym(id="plus-second") +
            .third=third
                .value-selector
                    button.sym(id="minus-third") -
                    span.value-of-sym(id="numberPlace-third") 0
                    button.sym(id="plus-third") +
            .submits 
                input(type="submit" value="очистить" class="dropdown-content__submit" id="clean")
                input(type="submit" value="применить" class="dropdown-content__submit" id="enter")

        //-у тебя сам выпадающий список реализован через див и кнопку button. Но лучше сделать через label и input
        //- список у тебя выпадает через ховер, нужно чтобы по нажатию это было. Можно просто через js при клике с none на block менять.
        //- кнопки лучше индивидуализировать через дата атрибуты
        